/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #fff;
  color: #333;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: space-between; /* Add this line to push items apart */
  z-index: 1000;
}

header img {
  height: 50px;
}

header img.key-icon {
  height: 30px;
  margin-left: auto;
}

.key-icon {
  align-items: right;
  justify-content: right;
}

main {
  padding: 100px 20px 40px; /* horní padding kvůli fixovanému headeru */
  max-width: 1000px;
  margin: 0 auto;
}

main h2 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 1.8rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.card {
  background: #0069b4;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 0; /* žádné zaoblení */
  color: white;
}

.card img {
  height: 60px;
  margin-bottom: 10px;
}

.card span {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  color: #222;
}

footer {
  text-align: center;
  padding: 20px;
  color: #777;
  font-size: 0.9rem;
}
